$korfam: 'Noto Sans KR', sans-serif;
.mini-container {
    width: 13vw;
    height: 200px;
    background-color: #dadada;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: #{$korfam};
    h3 {
        font-size: 17px;
        span {
            font-size: 13px;
        }
    }
    p {
        font-size: 1em;
        font-weight: 500;
    }
}
